# Python
__pycache__/
*.py[cod]
*.egg-info/
*.sqlite3
*.db

# Flask
instance/
.env
.env.*

# VSCode or IDE
.vscode/
.idea/

# Virtual environments
venv/
env/
application-env/

# Migrations 
migrations/**/__pycache__