# Python
__pycache__/
*.py[cod]
*.egg-info/
*.sqlite3
*.db

# Flask
instance/
.env
.env.*

# VSCode or IDE
.vscode/
.idea/

# Virtual environments
venv/
env/
application-env/

# Migrations 
migrations/**/__pycache__
migrations/versions/__pycache__/fda7353c5cc0_fix_forum_foreign_keys.cpython-313.pyc
