<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SukiScan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/sukiscan-logo.png') }}" alt="Logo" id="logo">
        </a>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('social') }}">Social</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('addcharacter') }}">Add Character</a></li>
                <li>
                    <form action="{{ url_for('searchcharacter') }}" method="GET">
                        <input type="text" name="query" placeholder="Search characters...">
                        <button type="submit">Go</button>
                      </form> 
                </li>
            </ul>
        </nav>
    </header>                
    <section class="hero-section" style="background-image: url('{{ url_for('static', filename='images/background2.png') }}')">
        <h1>Discover Your Favorite Characters</h1>
    </section>

    <section class="main-text">
        <h1>Welcome to SukiScans!</h1>
        <p>"Start adding your favourite characters to your list now and we'll start analysing. If a character you are looking for doesn't exist... Not to worry, you can submit a form for them and we'll make it our duty to add them into our database."
        </p>
        <h1>Top Characters</h1>
        <div class="top-characters">
            {% for c in top_characters %}
            <div class="character">
                <a>
                    <img src="{{ c.character.image_url }}" alt="{{ c.character.first_name }} {{ c.character.last_name }}">
                </a>
                <span>{{ c.character.first_name }} {{ c.character.last_name }}</span>
            </div>
            {% endfor %}
        </div>
        <h1>Recent Discussions</h1>
        {% if recent_post %}
        <p>Title: {{recent_post.title }}</p>
        <p>"{{ recent_post.content }}"</p>
        <h1>Replies</h1>
            {% for r in comments %}
                <p>"{{ r.content }}"</p> 
            {% endfor%}
        {% endif %}
    </section>
</body>
</html>
