<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SukiScan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/sukiscan-logo.png') }}" alt="Logo" id="logo">
        </a>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('social') }}">Social</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('addcharacter') }}">Add Character</a></li>
                <li>
                    <form action="{{ url_for('searchcharacter') }}" method="GET">
                        <input type="text" name="query" placeholder="Search characters...">
                        <button type="submit">Go</button>
                      </form> 
                </li>
                <li>
                    <img src="{{ url_for('static', filename='images/default-avatar.png') }}"
                    alt="Avatar"
                    id="avatar"
                    onclick="toggleSidebar()">              
                </li>
            </ul>
        </nav>
    </header>

    <div id="sidebar">
        <h2>My Account</h2>
        <div class="sidebar-content">
            <h3>Login Required</h3>
            <p>You need to log in to access this section.</p>
            <a href="{{ url_for('login') }}" class="login-link">Login</a>
        </div>
    </div> 
    
    <main>
        <img src="{{ url_for('static', filename='images/SukiScan.png') }}" alt="SukiScan">
    </main>
    <section class="main-text">
        <h1>Find Your Type!</h1>
        <p>"Signup and make an account now to find your ideal type! Just find your favourite characters, add them to your list and we'll do the rest. From pie charts that analyses your type to telling you your ideal mate. We'll help you find your match. You can even share your findings with friends or go on the forum to discuss your latest crush!!"
        </p>
    </section>
    <section class="cta-section">
        <h2>Interested? Get scanning!</h2>
        <div class="cta-buttons">
            <button class="login-btn" onclick="window.location.href='{{ url_for('login') }}'">Log In</button>
            <button class="signup-btn" onclick="window.location.href='{{ url_for('signup') }}'">Sign Up</button>
        </div>
    </section>
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('open');
        }
    </script>
</body>
</html>
