<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SukiScan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/sukiscan-logo.png') }}" alt="Logo" id="logo">
        </a>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('social') }}">Social</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li>
                    <form action="/search" method="GET" style="display: inline;">
                        <input type="text" name="query" placeholder="Search characters..." style="padding: 5px; border-radius: 5px; border: 1px solid #A4133C;">
                        <button type="submit" style="padding: 5px 10px; border: none; background-color: #A4133C; color: white; border-radius: 5px; cursor: pointer;">Go</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <div class="account-content">
        <h2>Log In</h2>
        <form action="/logging-in" method="POST">
            <label for="login-email-or-username">Email or Username:</label>
            <input type="text" id="login-email-or-username" name="email-username" required>
            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="password" required>
            <button type="submit">Log In</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div style="color:red;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <p>Don't have an account yet? <a href="{{ url_for('signup') }}">Signup</a></p>
    </div>
</body>