<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SukiScan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <header>
        <a href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='images/sukiscan-logo.png') }}" alt="Logo" id="logo">
        </a>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                <li><a href="{{ url_for('main.social') }}">Social</a></li>
                <li><a href="{{ url_for('main.login') }}">Login</a></li>
                <li><a href="{{ url_for('main.addcharacter') }}">Add Character</a></li>
                <li>
                    <form action="{{ url_for('main.searchcharacter') }}" method="GET">
                        <input type="text" name="query" placeholder="Search characters...">
                        <button type="submit">Go</button>
                      </form> 
                </li>
            </ul>
        </nav>
    </header>

    <div class="account-content">
        <h2>Log In</h2>
        <form action="/logging-in" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label for="login-email-or-username">Email or Username:</label>
            <input type="text" id="login-email-or-username" name="email-username" required>
            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="password" required>
            <button type="submit" id="login">Log In</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div style="color:red;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <p>Don't have an account yet? <a href="{{ url_for('main.signup') }}">Signup</a></p>
    </div>
</body>
</html>
